<ion-header>

  <ion-navbar color="white">
    <ion-title>create-recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit(form)">

    <ion-card>
      <div *ngIf="lastImage == null" class="recipe-header-image" [ngStyle]="{'background-image': 'url(' + headerImage + ')'}" (click)="getPicture()"></div>
      <div *ngIf="lastImage != null" id="headerImage" class="recipe-header-image" [ngStyle]="{'background-image': pathForImage(lastImage) }"></div>
      <!-- <img id="headerImage" *ngIf="lastImage != null"  /> -->
      <ion-card-header no-padding>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input class="form-control" type="text" [formControl]="form.controls['name']"></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-item-divider color="yellow">
          <span ion-text color="white">Ingredients</span>
          <button ion-button item-end color="light" type="button" (click)="addIngredient()">Add</button>
        </ion-item-divider>
      <ion-card-content>
        <table margin-top>
          <tr *ngFor="let ingredient of recipe.ingredients">
            <td ion-text color="grey">{{ ingredient.amount }} {{ ingredient.unit }}</td>
            <td ion-text color="grey" style="width:30%;">{{ ingredient.name }}</td>
          </tr>
        </table>
        <div *ngIf="!recipe.ingredients" class="fakeItem">
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

    <div formArrayName="steps">
      <ion-card *ngFor="let step of form.controls.steps.controls; let i=index">
          <ion-card-header>
            Step {{ i + 1 }}
          </ion-card-header>
          <ion-card-content>
            <ion-item [formGroupName]="i" no-padding>
              <textarea class="round" formControlName="description">
              </textarea>
              <!-- <ion-input class="form-control round" type="textarea" formControlName="description"></ion-input> -->
            </ion-item>
          </ion-card-content>
        </ion-card>
    </div>

  </form>

  <button ion-button round icon-left color="yellow" type="button" class="center" (click)="addStep()">
    <ion-icon name="add" color="white"></ion-icon>
    <span ion-text color="white">Add Step</span>
  </button>

</ion-content>

<ion-footer>
  <ion-toolbar style="padding:0px;">
    <button ion-button full icon-left class="button-footer" color="yellow" [disabled]="!form.valid" (click)="submit(form)" type="submit">
      <ion-icon name="ios-checkmark-circle-outline" class="icon-footer" color="white"></ion-icon>
      <span ion-text color="white">Save recipe</span>
    </button>
  </ion-toolbar>
</ion-footer>
