<ion-header>
  <ion-navbar no-border-bottom color="white">
    <ion-segment [(ngModel)]="segment" color="yellow">
      <ion-segment-button value="shoppingList">
        Shopping list
      </ion-segment-button>
      <ion-segment-button value="recipeList">
        Recipe list
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list *ngIf="segment == 'shoppingList'">
    <ion-item *ngFor="let ingredient of ingredients; let i = index">
      <ion-label>
        <span style="display: block;">{{ ingredient.name }}</span>
        <span ion-text color="grey" style="display: block; font-size: 0.6em;">{{ ingredient.amount }}{{ingredient.unit}}</span>
      </ion-label>
      <ion-checkbox color="yellow" [(ngModel)]="ingredient.inStock" (ionChange)="test()"></ion-checkbox>
    </ion-item>
  </ion-list>

  <div *ngIf="segment == 'recipeList'">
      <recipe *ngFor="let recipe of recipes" [recipe]="recipe"></recipe>
  </div>
  

</ion-content>
