<ion-header>
  <ion-navbar no-border-bottom color="white">
    <ion-segment [(ngModel)]="segment" color="yellow">
      <ion-segment-button value="shoppingList">
        Shopping list
      </ion-segment-button>
      <ion-segment-button value="recipeList">
        Recipe list
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list *ngIf="segment == 'shoppingList'">
    <ion-item *ngFor="let ingredient of ingredients">
        - {{ ingredient.name }} ({{ ingredient.amount }}{{ingredient.unit}})
    </ion-item>
  </ion-list>

  <recipe *ngIf="segment == 'recipeList'" [recipes]="recipes" [sliding]="false"></recipe>

</ion-content>
